image:
  repository: registry.gitlab.factory.social.gouv.fr/socialgouv/sample-next-app
  tag: master

deployment:

  port: 8000

  livenessProbe:
    periodSeconds: 20
  readinessProbe:
    periodSeconds: 20

  resources:
    limits:
      memory: 128Mi
    requests:
      memory: 64Mi

  env:
    - name: PORT
      value: "8000"
    - name: NODE_ENV
      value: "production"

ingress:
  enabled: true
  annotations:
    appgw.ingress.kubernetes.io/ssl-redirect: "true"
    certmanager.k8s.io/cluster-issuer: letsencrypt-staging
    kubernetes.io/ingress.class: "azure/application-gateway"
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: ${FRONTEND_HOST}
      paths:
        - /
  tls:
    - hosts:
        - ${FRONTEND_HOST}
      secretName: ${PROJECT}-certificate-${BRANCH_HASH}-secret
