image:
  repository: $CI_REGISTRY_IMAGE
  tag: master

labels:
  app.kubernetes.io/part-of: sample-next-app
  owner: sample-next-app
  team: sample-next-app

deployment:

  annotations:
    app.gitlab.com/app: ${CI_PROJECT_PATH_SLUG}
    app.gitlab.com/env: ${CI_ENVIRONMENT_SLUG}

  port: 8000

  livenessProbe:
    periodSeconds: 20
  readinessProbe:
    periodSeconds: 20

  resources:
    limits:
      memory: 128Mi
    requests:
      memory: 64Mi

  env:
    - name: PORT
      value: "8000"
    - name: NODE_ENV
      value: "production"

ingress:
  enabled: true
  annotations:
    appgw.ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: "azure/application-gateway"
  hosts:
    - host: "sample-next-app.dev.fabrique.social.gouv.fr"
      paths:
        - path: /
          servicePort: "80"

  tls:
    - hosts:
        - "sample-next-app.dev.fabrique.social.gouv.fr"
      secretName: sample-next-app-crt
