#
# Context investigation
#
# - master as prod
# - features branches env
#

include:
  - project: SocialGouv/gitlab-ci-yml
    file: /autodevops_simple_app.yml
    ref: v3.0.5

variables:
  PROJECT: "sample-next-app"
  PORT: 4000
  VALUES_FILE: ./.k8s/app.values.yml
