---
include:
  - "/k8s/.deploy-sample-next-app.yml"
  - "https://raw.githubusercontent.com/SocialGouv/gitlab-ci-yml/master/github-deployments.yml"
  - "https://raw.githubusercontent.com/SocialGouv/gitlab-ci-yml/master/register-stage.yml"

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_VERSION: "18.06"
  IMAGE_INFRA_BASE_NAME: "infra/images-docker"
  DEV_ENVIRONMENT_NAME: "dev.factory"
  PROD_ENVIRONMENT_NAME: "incubateur"
  SERVICE_PORT: 4000
  APP_NAME: sample-next-app

stages:
  - "Code Quality"
  - "Prepare"
  - "Registration"
  - "Deploy dev"
  - "Send Url to GitHub (dev)"
  - "Deploy prod"
  - "Send Url to GitHub (prod)"

.quality_stage: &quality_stage
  stage: "Code Quality"
  image: node:12-alpine
  before_script:
    - yarn --frozen-lockfile
#

Quality tests:
  <<: *quality_stage
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
  script:
    - yarn lint
    - yarn test

###########################################
###       REGISTER DOCKER IMAGES       ###
###########################################

Register image:
  <<: *register_stage
  variables:
    CONTEXT: .
    DOCKERFILE_PATH: Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE

###########################################
###            DEPLOY TO K8S            ###
###########################################

#
.deploy_stage: &deploy_stage
  dependencies: []
  variables: &deploy_stage_variables
    REGISTRY: $CI_REGISTRY_IMAGE
    IMAGE_TAG: $CI_COMMIT_SHA
#

# Dev Environment

Deploy @sample-next-app (dev):
  <<: *deploy_stage
  extends: .deploy-sample-next-app-k8s-dev
  stage: "Deploy dev"
  variables:
    <<: *deploy_stage_variables
    PORT: $SERVICE_PORT
  environment:
    name: $DEV_ENVIRONMENT_NAME
  only:
    - branches
  except:
    - master

Deploy @sample-next-app (prod):
  <<: *deploy_stage
  extends: .deploy-sample-next-app-k8s-prod
  stage: "Deploy prod"
  variables:
    <<: *deploy_stage_variables
    PORT: $SERVICE_PORT
  environment:
    name: $PROD_ENVIRONMENT_NAME
  when: manual

